@font-face {
    font-family: 'interRegular';
    src: url(InterFonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'interMedium';
    src: url(InterFonts/static/Inter-Medium.ttf);
}

@font-face {
    font-family: 'interSemiBold';
    src: url(InterFonts/static/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'interExtraBold';
    src: url(InterFonts/static/Inter-ExtraBold.ttf);
}

body {
    font-family: 'interRegular', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* typography */

h1, input {
    font-family: 'interExtraBold', sans-serif;
    color: white;
}

h1 {
    padding-top: 30px;
    font-size: 28px;
}

h3 {
    font-family: 'interSemiBold';
    color: #5A537B;
    font-size: 20px;
}

p {
    font-family: 'interRegular';
    color: #353535;
    font-size: 14px;
}

input {
    border: 3px solid #B295FF;
    border-radius: 5px;
    background: #6943FF;
    height: 83px;
    font-size: 58px;
    display: block;
    margin: 20px auto;
    width: 110px;
    text-align: center;
}

button {
    font-family: 'interMedium';
    font-size: 16;
    color: #353535;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    height: 42px;
    margin-bottom: 30px;
    width: 117px;
}

/* layout */

#frame {
    
    width: 550px;
    height: 729px;
}

#footer {
    padding: 20px 0px;
}

/* utility */

.container {
    background: white;
    width: 500px;
    height: 108px;
    margin: 10px 0px;
}

.purple-background {
    background: #6943FF;
}

.gray-background {
    background: #F4F4F4;
}

.center-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}